In [10]:
import sqlite3
from datetime import datetime, timedelta
import pandas as pd
#import ace_tools as tools
import random

In [2]:
conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute("""create table peeps(
          id integer primary key,
          first_name text,
          last_name text,
          employed integer,
          hire_date text,
          gender text
          )""")
conn.commit()

In [3]:
conn = sqlite3.connect('test.db')
c = conn.cursor()
peeps = [
    (1, 'John', 'Doe', 1, '2012-01-01', 'M'),
    (2, 'Jane', 'Doe', 1, '2012-01-01', 'F'),
    (3, 'Jim', 'Beam', 0, '2012-01-01', 'M'),
    (4, 'Jack', 'Daniels', 0, '2012-01-01', 'M'),
]
c.executemany("insert into peeps values (?,?,?,?,?,?)", peeps)
conn.commit()

In [20]:
conn = sqlite3.connect('test.db')
c = conn.cursor()
c.execute('select * from peeps')
c.fetchall()

[(1, 'Bob', 'Jameson', 1, '2019-02-05', 'F'),
 (2, 'Charlie', 'Kavalan', 1, '2018-06-28', 'M'),
 (3, 'Rachel', 'Yamazaki', 0, '2011-02-01', 'F'),
 (4, 'Olivia', 'Oban', 1, '2023-10-16', 'F'),
 (5, 'Zoe', 'Nikka', 0, '2008-10-15', 'F'),
 (6, 'Umar', 'Edradour', 0, '2020-10-25', 'M'),
 (7, 'Steve', 'Glen Scotia', 0, '2006-10-03', 'F'),
 (8, 'Jill', 'Glen Scotia', 1, '2020-02-16', 'F'),
 (9, 'Olivia', 'Balvenie', 1, '2014-11-27', 'M'),
 (10, 'Paul', 'Hibiki', 0, '2016-09-11', 'M'),
 (11, 'Jake', 'Glen Scotia', 1, '2023-07-20', 'F'),
 (12, 'Quinn', 'Balvenie', 1, '2012-09-18', 'M'),
 (13, 'Daisy', 'Redbreast', 1, '2016-05-08', 'M'),
 (14, 'Paul', 'Balvenie', 0, '2020-04-01', 'M'),
 (15, 'Umar', 'Auchentoshan', 1, '2023-05-14', 'M'),
 (16, 'Charlie', 'Glenmorangie', 1, '2015-05-25', 'M'),
 (17, 'Kelly', 'Balvenie', 0, '2021-11-20', 'F'),
 (18, 'John', 'Tullamore', 0, '2015-06-07', 'M'),
 (19, 'Jill', 'Knappogue', 1, '2006-10-08', 'M'),
 (20, 'Jim', 'Glenmorangie', 0, '2007-09-08', 'F'),
 (21, 'Bob', 'Glenmorangie', 0, '2005-12-01', 'F'),
 (22, 'Bob', 'Jameson', 1, '2018-01-19', 'F'),
 (23, 'Bob', 'GlenDronach', 0, '2008-01-30', 'F'),
 (24, 'Bob', 'Laphroaig', 0, '2023-02-18', 'F'),
 (25, 'Quinn', 'Bushmills', 1, '2018-10-21', 'M'),
 (26, 'Henry', 'Yamazaki', 1, '2019-11-28', 'M'),
 (27, 'Liam', 'Glenfiddich', 1, '2011-07-05', 'M'),
 (28, 'Olivia', 'Bushmills', 0, '2012-02-21', 'F'),
 (29, 'Noah', 'Lagavulin', 1, '2009-10-03', 'F'),
 (30, 'Jake', 'GlenDronach', 0, '2024-05-18', 'M'),
 (31, 'Jake', 'Talisker', 1, '2014-07-16', 'F'),
 (32, 'Vera', 'Knappogue', 0, '2024-10-17', 'F'),
 (33, 'Tina', 'Bowmore', 0, '2006-12-19', 'M'),
 (34, 'Liam', 'Hakushu', 0, '2005-10-16', 'F'),
 (35, 'Alice', 'HighlandPark', 1, '2014-11-27', 'F'),
 (36, 'Daisy', 'Talisker', 0, '2011-12-30', 'F'),
 (37, 'Xena', 'Kavalan', 0, '2006-01-15', 'M'),
 (38, 'Jane', 'Auchentoshan', 0, '2015-04-16', 'F'),
 (39, 'Bob', 'Bushmills', 1, '2005-05-24', 'M'),
 (40, 'Jack', 'Glen Scotia', 0, '2016-09-10', 'F'),
 (41, 'Jim', 'BenRiach', 1, '2008-01-18', 'M'),
 (42, 'Rachel', 'Hakushu', 0, '2005-04-04', 'M'),
 (43, 'Jill', 'Knappogue', 0, '2006-06-15', 'F'),
 (44, 'Xena', 'Springbank', 1, '2014-03-21', 'M'),
 (45, 'Yann', 'Edradour', 0, '2005-07-13', 'M'),
 (46, 'Paul', 'Balvenie', 1, '2007-05-21', 'F'),
 (47, 'Henry', 'Macallan', 0, '2005-01-06', 'M'),
 (48, 'Rachel', 'Nikka', 0, '2017-12-13', 'F'),
 (49, 'Walter', 'Knappogue', 1, '2012-10-16', 'F'),
 (50, 'Henry', 'Talisker', 1, '2005-01-22', 'M')]

In [11]:
whisky_last_names = [
    "Glenfiddich", "Macallan", "Laphroaig", "Ardbeg", "Glenlivet", "Lagavulin", "Balvenie", "HighlandPark", "Dalmore",
    "Glenmorangie", "Talisker", "Oban", "GlenDronach", "Bruichladdich", "Springbank", "Bowmore", "Auchentoshan",
    "Yamazaki", "Hakushu", "Hibiki", "Nikka", "Kavalan", "Redbreast", "Jameson", "Tullamore", "Knappogue", "Bushmills",
    "Glen Scotia", "Edradour", "BenRiach"
]

# Common first names
first_names = ["John", "Jane", "Jim", "Jack", "Jill", "Alice", "Bob", "Charlie", "Daisy", "Eve", "Frank", "Grace",
               "Henry", "Ivy", "Jake", "Kelly", "Liam", "Mia", "Noah", "Olivia", "Paul", "Quinn", "Rachel", "Steve",
               "Tina", "Umar", "Vera", "Walter", "Xena", "Yann", "Zoe"]

# Gender options
genders = ["M", "F"]

In [12]:
def random_date(start_date="2005-01-01", end_date="2025-01-01"):
    start_dt = datetime.strptime(start_date, "%Y-%m-%d")
    end_dt = datetime.strptime(end_date, "%Y-%m-%d")
    random_days = random.randint(0, (end_dt - start_dt).days)
    return (start_dt + timedelta(days=random_days)).strftime("%Y-%m-%d")

In [16]:
peeps = [
    (i + 1, random.choice(first_names), random.choice(whisky_last_names),
     random.randint(0, 1), random_date(), random.choice(genders))
    for i in range(50)
]

In [17]:
df_peeps = pd.DataFrame(peeps, columns=["id", "first_name", "last_name", "employed", "hire_date", "gender"])

In [18]:
df_peeps

    id first_name     last_name  employed   hire_date gender
0    1        Bob       Jameson         1  2019-02-05      F
1    2    Charlie       Kavalan         1  2018-06-28      M
2    3     Rachel      Yamazaki         0  2011-02-01      F
3    4     Olivia          Oban         1  2023-10-16      F
4    5        Zoe         Nikka         0  2008-10-15      F
5    6       Umar      Edradour         0  2020-10-25      M
6    7      Steve   Glen Scotia         0  2006-10-03      F
7    8       Jill   Glen Scotia         1  2020-02-16      F
8    9     Olivia      Balvenie         1  2014-11-27      M
9   10       Paul        Hibiki         0  2016-09-11      M
10  11       Jake   Glen Scotia         1  2023-07-20      F
11  12      Quinn      Balvenie         1  2012-09-18      M
12  13      Daisy     Redbreast         1  2016-05-08      M
13  14       Paul      Balvenie         0  2020-04-01      M
14  15       Umar  Auchentoshan         1  2023-05-14      M
15  16    Charlie  Glenmorangie         1  2015-05-25      M
16  17      Kelly      Balvenie         0  2021-11-20      F
17  18       John     Tullamore         0  2015-06-07      M
18  19       Jill     Knappogue         1  2006-10-08      M
19  20        Jim  Glenmorangie         0  2007-09-08      F
20  21        Bob  Glenmorangie         0  2005-12-01      F
21  22        Bob       Jameson         1  2018-01-19      F
22  23        Bob   GlenDronach         0  2008-01-30      F
23  24        Bob     Laphroaig         0  2023-02-18      F
24  25      Quinn     Bushmills         1  2018-10-21      M
25  26      Henry      Yamazaki         1  2019-11-28      M
26  27       Liam   Glenfiddich         1  2011-07-05      M
27  28     Olivia     Bushmills         0  2012-02-21      F
28  29       Noah     Lagavulin         1  2009-10-03      F
29  30       Jake   GlenDronach         0  2024-05-18      M
30  31       Jake      Talisker         1  2014-07-16      F
31  32       Vera     Knappogue         0  2024-10-17      F
32  33       Tina       Bowmore         0  2006-12-19      M
33  34       Liam       Hakushu         0  2005-10-16      F
34  35      Alice  HighlandPark         1  2014-11-27      F
35  36      Daisy      Talisker         0  2011-12-30      F
36  37       Xena       Kavalan         0  2006-01-15      M
37  38       Jane  Auchentoshan         0  2015-04-16      F
38  39        Bob     Bushmills         1  2005-05-24      M
39  40       Jack   Glen Scotia         0  2016-09-10      F
40  41        Jim      BenRiach         1  2008-01-18      M
41  42     Rachel       Hakushu         0  2005-04-04      M
42  43       Jill     Knappogue         0  2006-06-15      F
43  44       Xena    Springbank         1  2014-03-21      M
44  45       Yann      Edradour         0  2005-07-13      M
45  46       Paul      Balvenie         1  2007-05-21      F
46  47      Henry      Macallan         0  2005-01-06      M
47  48     Rachel         Nikka         0  2017-12-13      F
48  49     Walter     Knappogue         1  2012-10-16      F
49  50      Henry      Talisker         1  2005-01-22      M

In [19]:
df_peeps.to_sql('peeps', conn, if_exists='replace', index=False)

50